<!-- sortField="Name" sortMode="single" -->
<!-- (sortFunction)="customSort($event)" -->
<p-table [columns]="cols" [value]="teachers" selectionMode="multiple" [(selection)]="selectedTeacher" [customSort]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <!-- <th *ngFor="let col of columns" [pSortableColumn]="col.header"> -->
            <th *ngFor="let col of columns" (click)="sort(col,teachers)">
                {{col.header}}
                <p-sortIcon [field]="col.header"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr (click)="selected(rowData)" [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.header]}}
            </td>
        </tr>
    </ng-template>
</p-table>

<app-teacher-card></app-teacher-card>




<!-- <p-table [columns]="cols" [value]="teachers" selectionMode="multiple" [(selection)]="selectedTeacher">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr (click)="selected(rowData)" [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.header]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<app-teacher-card></app-teacher-card> -->